<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Shop.css') }}">
    <title>Shop</title>
</head>
<body>
        <div id="wrapper">
            <div id="top-content">
                <div class="header">
                    <p>Mark Price Productions</p>
                    <a href="https://www.instagram.com/pricebeats/"><img src="{{ url_for('static', filename='images/ig.png') }}"></a>  <a href="https://open.spotify.com/artist/6n0R5ZXIXFAQmrShiUThWg?si=6J3l2uPpTcOaaMw-udly8g"><img src="{{ url_for('static', filename='images/spotify.png') }}"></a>    <a href="https://soundcloud.com/markpriceproductions"><img src="{{ url_for('static', filename='images/soundcloud.png') }}">                
                </div>
            </div>
            <ul id="nav">
                <div class="nav-opt1">
                    <li><a href="/home">Home</a></li> 
                </div>
                <div class="nav-opt2">
                    <li><a href="/about">About</a></li> 
                </div>
                <div class="nav-opt3">
                    <li><a href="/contact">Contact</a></li> 
                </div>
                <div class="nav-opt4">
                    <li><a href="#">Shop</a></li> 
                </div>
            </ul>
            <div id="image">
                <div id="weclome">
                    <h1>Welcome!</h1>
                    <h2>Please register/login to access the shop.<h2>
                    <!-- {% with messages = get_flashed_messages() %}     
                    {% if messages %}               
                        {% for message in messages %}            
                            <p>{{message}}</p>                   
                        {% endfor %}
                    {% endif %}
                    {% endwith %} -->
                </div>
                <div class="rl">
                    <h2>Register</h2>
                    <form action="/register" method="post">
                        <p>First Name: <input type="text" name="first_name"></p>
                        <br>
                        <p>Last Name: <input type="text" name="last_name"></p>
                        <br>
                        <p>Email: <input type="text" name="email"></p>
                        <br>
                        <p>Password: <input type="password" name="password"></p>
                        <br>
                        <input type="submit" value="Register">
                    </form>
                </div>
                <div class="rl">
                        <h2>Login</h2>
                        <form action="/login" method="post">
                            <p>Email: <input type="text" name="email"></p>
                            <br>
                            <p>Password: <input type="password" name="password"></p>
                            <br>
                            <input type="submit" value="Login">
                        </form>
                </div>
            </div>
        </div>
    
</body>
</html>